.boton-guardar {
  background-color: #444;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.boton-guardar:hover {
  background-color: #5e5e5e;
  transform: scale(1.05);
}

.boton-guardar.guardada {
  background-color: #2ecc71; 
  color: white;
}

.boton-guardar.guardada:hover {
  background-color: #27ae60;
}
.boton-guardar.no-guardada {
  background-color: #e74c3c; 
  color: white;
}

